@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    @apply bg-white;
}

.select-radio-option input[type="radio"]:checked + label {
    @apply bg-[#DCD2FE] text-black;
}
.option-label {
    transition: background-color 0.2s ease, color 0.2s ease;
}
.add-to-cart-btn{
    border-radius: 8px;
    background: linear-gradient(90deg, #E56EEB -13.59%, #8863FB 111.41%);
    color: #ffffff;
}

@keyframes slide {
    0% { opacity: 0; transform: translateY(-100%); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(100%); }
  }
  .announcement-slide {
    animation: slide 5s infinite;
  }
  [x-cloak] { display: none !important; }
